
html {
	background: url("images/Himmel.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: 500%;
	background-position: 50 0;
}

div {
	display: block;
	position: absolute;
}

