
body {
	background-color: blue;
}


div {
	display: block;
	position: absolute;
}
.cloudSmall {
	height: 200px;
	width: 400px;
	background-color: pink;
	opacity: 0.8;
}


.cloudMedium {
	height: 600px;
	width: 400px;
	background-color: green;
	opacity: 0.8;
}

.cloudLarge {
	height: 200px;
	width: 200px;
	background-color: yellow;
	opacity: 0.4;
}

#animation img {
	display: none;
}

h1 {
	color: #FFCC00;
	font-family: Verdana, sans-serif;
	text-transform: uppercase;
}
